### 1. Pandas æ•°æ®ç»“æ„ï¼ˆSeries, DataFrameï¼‰

Pandas æœ‰ä¸¤ä¸ªæ ¸å¿ƒæ•°æ®ç»“æ„ï¼š

1. `Series`: ä¸€ç»´å¸¦æ ‡ç­¾çš„æ•°ç»„ï¼ˆç±»ä¼¼ NumPy çš„ä¸€ç»´æ•°ç»„ + ç´¢å¼•ï¼‰
2. `DataFrame`: äºŒç»´è¡¨æ ¼ç»“æ„ï¼ˆç±»ä¼¼ Excel è¡¨æ ¼æˆ– SQL è¡¨ï¼‰

æ¯ä¸ª `DataFrame` ç”±å¤šåˆ— `Series` ç»„æˆï¼Œå…·æœ‰è¡Œç´¢å¼•å’Œåˆ—ç´¢å¼•ã€‚

å¸¸ç”¨å±æ€§ï¼š
- `.shape`ï¼šæ•°æ®ç»´åº¦
- `.columns`ï¼šåˆ—å
- `.index`ï¼šè¡Œç´¢å¼•
- `.dtypes`ï¼šæ¯åˆ—æ•°æ®ç±»å‹

In [1]:
import pandas as pd

# åˆ›å»º Seriesï¼ˆå¸¦æ ‡ç­¾çš„ä¸€ç»´æ•°ç»„ï¼‰
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
print("Series:\n", s)

# åˆ›å»º DataFrameï¼ˆäºŒç»´è¡¨æ ¼ï¼‰
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Score": [85, 90, 95]
}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

# æŸ¥çœ‹ç»“æ„å±æ€§
print("\nç»´åº¦ (shape):", df.shape)
print("åˆ—å (columns):", df.columns)
print("è¡Œç´¢å¼• (index):", df.index)
print("æ¯åˆ—æ•°æ®ç±»å‹ (dtypes):\n", df.dtypes)

Series:
 a    10
b    20
c    30
dtype: int64

DataFrame:
       Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95

ç»´åº¦ (shape): (3, 3)
åˆ—å (columns): Index(['Name', 'Age', 'Score'], dtype='object')
è¡Œç´¢å¼• (index): RangeIndex(start=0, stop=3, step=1)
æ¯åˆ—æ•°æ®ç±»å‹ (dtypes):
 Name     object
Age       int64
Score     int64
dtype: object

### 2. è¯»å–å’Œä¿å­˜æ•°æ®ï¼ˆCSV, Excel, JSON, SQLï¼‰

Pandas æ”¯æŒä»å¤šç§æ ¼å¼åŠ è½½å’Œä¿å­˜æ•°æ®ï¼š

#### å¸¸ç”¨è¯»å–å‡½æ•°ï¼š
- `pd.read_csv('file.csv')`
- `pd.read_excel('file.xlsx')`
- `pd.read_json('file.json')`
- `pd.read_sql(query, conn)`

#### å¸¸ç”¨ä¿å­˜å‡½æ•°ï¼š
- `df.to_csv('file.csv', index=False)`
- `df.to_excel('file.xlsx', index=False)`
- `df.to_json('file.json')`
- `df.to_sql('table', conn, if_exists='replace')`

> æ³¨æ„äº‹é¡¹ï¼š
- å¯¹äº Excel æ“ä½œéœ€å®‰è£… `openpyxl`
- å¯¹äº SQL éœ€é…åˆæ•°æ®åº“è¿æ¥å¼•æ“å¦‚ `sqlite3`ã€`SQLAlchemy`

In [2]:
import pandas as pd

# åˆ›å»º DataFrame æ¨¡æ‹Ÿå¤–éƒ¨æ–‡ä»¶
df = pd.DataFrame({
    "Name": ["Alice", "Bob"],
    "Age": [25, 30],
    "City": ["Beijing", "Shanghai"]
})

# ä¿å­˜ä¸º CSV æ–‡ä»¶
df.to_csv("sample.csv", index=False)

# ä» CSV æ–‡ä»¶è¯»å–ï¼ˆæ¨¡æ‹ŸçœŸå®è¯»å–æµç¨‹ï¼‰
df_loaded = pd.read_csv("sample.csv")
print("è¯»å–çš„ DataFrame:\n", df_loaded)

è¯»å–çš„ DataFrame:
     Name  Age      City
0  Alice   25   Beijing
1    Bob   30  Shanghai

### 3. æ•°æ®ç´¢å¼•ä¸é€‰å–ï¼ˆloc, iloc, at, iatï¼‰

Pandas æä¾›äº†å››ç§æ–¹å¼æ¥é€‰å–æ•°æ®ï¼š

| æ–¹æ³•     | æŒ‰ä»€ä¹ˆé€‰     | æ”¯æŒè¡Œåˆ— | æ”¯æŒåˆ‡ç‰‡ | æ˜¯å¦æ›´å¿«ï¼ˆé€‚ç”¨äºå•å…ƒç´ ï¼‰ |
|----------|--------------|----------|----------|-------------------------|
| `loc`    | æ ‡ç­¾         | âœ…        | âœ…        | å¦                      |
| `iloc`   | æ•´æ•°ä½ç½®     | âœ…        | âœ…        | å¦                      |
| `at`     | æ ‡ç­¾         | âœ…ï¼ˆå•å…ƒï¼‰| âŒ        | âœ…ï¼ˆæ›´å¿«ï¼‰              |
| `iat`    | æ•´æ•°ä½ç½®     | âœ…ï¼ˆå•å…ƒï¼‰| âŒ        | âœ…ï¼ˆæ›´å¿«ï¼‰              |

---

#### âœ… `loc`: ä½¿ç”¨æ ‡ç­¾é€‰å–

```python
df.loc[è¡Œæ ‡ç­¾, åˆ—æ ‡ç­¾]
```

#### âœ… `iloc`: ä½¿ç”¨æ•´æ•°ä½ç½®é€‰å–
```python
df.iloc[è¡Œå·, åˆ—å·]
```

#### âœ… `at`: é€‰å–å•ä¸ªå…ƒç´ ï¼ˆæ ‡ç­¾ï¼‰ï¼Œé€Ÿåº¦æ›´å¿«
```python
df.at[è¡Œæ ‡ç­¾, åˆ—æ ‡ç­¾]
```

#### âœ… `iat`: é€‰å–å•ä¸ªå…ƒç´ ï¼ˆä½ç½®ï¼‰ï¼Œé€Ÿåº¦æ›´å¿«
```python
df.iat[è¡Œå·, åˆ—å·]
```

å»ºè®®ï¼š

å¸¸è§„ç”¨ loc å’Œ iloc

è·å–å•ä¸ªå…ƒç´ æ—¶ç”¨ at æˆ– iat æ›´å¿«

In [3]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Score": [85, 90, 95]
}, index=["a", "b", "c"])

# loc: æŒ‰æ ‡ç­¾é€‰å–
print("loc å•è¡Œï¼š\n", df.loc["a"])
print("loc å¤šåˆ—ï¼š\n", df.loc["a", ["Name", "Score"]])

# iloc: æŒ‰ä½ç½®é€‰å–
print("iloc ç¬¬2è¡Œç¬¬3åˆ—ï¼š", df.iloc[1, 2])  # Bob çš„ Score

# at: è·å–å•ä¸ªå…ƒç´ ï¼ˆæ ‡ç­¾ï¼‰
print("at æ–¹å¼ï¼š", df.at["b", "Age"])

# iat: è·å–å•ä¸ªå…ƒç´ ï¼ˆä½ç½®ï¼‰
print("iat æ–¹å¼ï¼š", df.iat[2, 1])  # Charlie çš„ Age

loc å•è¡Œï¼š
 Name     Alice
Age         25
Score       85
Name: a, dtype: object
loc å¤šåˆ—ï¼š
 Name     Alice
Score       85
Name: a, dtype: object
iloc ç¬¬2è¡Œç¬¬3åˆ—ï¼š 90
at æ–¹å¼ï¼š 30
iat æ–¹å¼ï¼š 35

### 4. å¤„ç†ç¼ºå¤±å€¼ï¼ˆisna, dropna, fillnaï¼‰

åœ¨æ•°æ®åˆ†æä¸­ï¼Œç¼ºå¤±å€¼ï¼ˆNaN, nullï¼‰æ˜¯å¸¸è§é—®é¢˜ï¼ŒPandas æä¾›å¤šç§å‡½æ•°æ¥å¤„ç†ï¼š

| å‡½æ•°            | åŠŸèƒ½è¯´æ˜                     |
|-----------------|------------------------------|
| `isna()`        | åˆ¤æ–­ç¼ºå¤±å€¼ï¼Œè¿”å›å¸ƒå°”çŸ©é˜µ     |
| `notna()`       | åˆ¤æ–­éç¼ºå¤±å€¼                 |
| `dropna()`      | åˆ é™¤å«ç¼ºå¤±å€¼çš„è¡Œæˆ–åˆ—         |
| `fillna(x)`     | ç”¨æŒ‡å®šå€¼å¡«å……ç¼ºå¤±å€¼           |

---

#### `dropna()` å‚æ•°ï¼š

- `axis=0`ï¼šåˆ é™¤å«ç¼ºå¤±çš„è¡Œï¼ˆé»˜è®¤ï¼‰
- `axis=1`ï¼šåˆ é™¤å«ç¼ºå¤±çš„åˆ—
- `how="any"`ï¼ˆé»˜è®¤ï¼‰ï¼šåªè¦æœ‰ç¼ºå¤±å°±åˆ 
- `how="all"`ï¼šæ•´è¡Œ/æ•´åˆ—éƒ½ç¼ºå¤±æ‰åˆ 

---

#### `fillna()` å¸¸è§ç”¨æ³•ï¼š

- å›ºå®šå€¼å¡«å……ï¼š`fillna(0)`
- å‰å‘å¡«å……ï¼š`fillna(method="ffill")`
- åå‘å¡«å……ï¼š`fillna(method="bfill")`

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["Alice", "Bob", np.nan],
    "Age": [25, np.nan, 35],
    "Score": [85, 90, np.nan]
})

print("åŸå§‹æ•°æ®ï¼š\n", df)

# åˆ¤æ–­ç¼ºå¤±å€¼
print("\nisna åˆ¤æ–­ï¼š\n", df.isna())

# åˆ é™¤å«ç¼ºå¤±çš„è¡Œ
dropped = df.dropna()
print("\ndropna åï¼š\n", dropped)

# ç”¨ 0 å¡«è¡¥æ‰€æœ‰ç¼ºå¤±
filled = df.fillna(0)
print("\nfillna(0) å¡«è¡¥åï¼š\n", filled)

# å‰å‘å¡«å……ï¼ˆç”¨å‰ä¸€ä¸ªå€¼å¡«ï¼‰
ffill = df.fillna(method="ffill")
print("\nå‰å‘å¡«å…… ffillï¼š\n", ffill)

# åå‘å¡«å……ï¼ˆç”¨ä¸‹ä¸€ä¸ªå€¼å¡«ï¼‰
bfill = df.fillna(method="bfill")
print("\nåå‘å¡«å…… bfillï¼š\n", bfill)

åŸå§‹æ•°æ®ï¼š
     Name   Age  Score
0  Alice  25.0   85.0
1    Bob   NaN   90.0
2    NaN  35.0    NaN

isna åˆ¤æ–­ï¼š
     Name    Age  Score
0  False  False  False
1  False   True  False
2   True  False   True

dropna åï¼š
     Name   Age  Score
0  Alice  25.0   85.0

fillna(0) å¡«è¡¥åï¼š
     Name   Age  Score
0  Alice  25.0   85.0
1    Bob   0.0   90.0
2      0  35.0    0.0

å‰å‘å¡«å…… ffillï¼š
     Name   Age  Score
0  Alice  25.0   85.0
1    Bob  25.0   90.0
2    Bob  35.0   90.0

åå‘å¡«å…… bfillï¼š
     Name   Age  Score
0  Alice  25.0   85.0
1    Bob  35.0   90.0
2    NaN  35.0    NaN

<ipython-input-4-3992287694>:24: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ffill = df.fillna(method="ffill")
<ipython-input-4-3992287694>:28: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bfill = df.fillna(method="bfill")

### 5. æ•°æ®ç­›é€‰ä¸æ¡ä»¶è¿‡æ»¤ï¼ˆå¸ƒå°”ç´¢å¼•ï¼‰

Pandas å¯ä»¥é€šè¿‡å¸ƒå°”æ¡ä»¶æ¥é€‰å‡ºæ»¡è¶³æ¡ä»¶çš„è¡Œï¼ˆç±»ä¼¼ SQL ä¸­çš„ WHERE å­å¥ï¼‰ï¼š

#### åŸºæœ¬è¯­æ³•ï¼š

```python
df[æ¡ä»¶è¡¨è¾¾å¼]
```

#### å¤šæ¡ä»¶ç»„åˆï¼ˆå¸ƒå°”ç´¢å¼•ï¼‰ï¼š

åœ¨ Pandas ä¸­ç»„åˆå¤šä¸ªæ¡ä»¶æ—¶ï¼Œéœ€è¦ä½¿ç”¨ä½è¿ç®—ç¬¦ï¼ˆé€»è¾‘è¿ç®—ç¬¦ä¸èƒ½ç”¨ `and`, `or`, `not`ï¼‰ï¼š

- âœ… **ä¸**ï¼ˆANDï¼‰ï¼š`&`  
  è¯­æ³•ï¼š`(æ¡ä»¶1) & (æ¡ä»¶2)`  
  ç¤ºä¾‹ï¼š`(df["Age"] > 30) & (df["Score"] > 90)`

- âœ… **æˆ–**ï¼ˆORï¼‰ï¼š`|`  
  è¯­æ³•ï¼š`(æ¡ä»¶1) | (æ¡ä»¶2)`  
  ç¤ºä¾‹ï¼š`(df["Age"] < 25) | (df["Score"] < 80)`

- âœ… **é**ï¼ˆNOTï¼‰ï¼š`~`  
  è¯­æ³•ï¼š`~(æ¡ä»¶)`  
  ç¤ºä¾‹ï¼š`~df["Name"].isna()`

> ğŸ”’ **æ³¨æ„ï¼šæ¯ä¸ªæ¡ä»¶å¿…é¡»åŠ æ‹¬å·ï¼Œå¦åˆ™ä¼šæŠ¥é”™ï¼**

In [5]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "Score": [85, 90, 95, 60]
})

# å•æ¡ä»¶ç­›é€‰ï¼šé€‰å‡ºå¹´é¾„å¤§äº 30 çš„äºº
print("Age > 30:\n", df[df["Age"] > 30])

# å¤šæ¡ä»¶ç­›é€‰ï¼šå¹´é¾„ > 30 ä¸”æˆç»© > 90
print("\nAge > 30 ä¸” Score > 90:\n", df[(df["Age"] > 30) & (df["Score"] > 90)])

# isinï¼šç­›é€‰ Name åœ¨ç‰¹å®šåˆ—è¡¨ä¸­çš„è¡Œ
print("\nName in ['Alice', 'Charlie']:\n", df[df["Name"].isin(["Alice", "Charlie"])])

# ~ éæ“ä½œç¬¦ï¼šæ’é™¤ç¼ºå¤±å€¼
df.loc[2, "Score"] = None
print("\néç¼ºå¤±å€¼ç­›é€‰ Score:\n", df[~df["Score"].isna()])

Age > 30:
       Name  Age  Score
2  Charlie   35     95
3    David   40     60

Age > 30 ä¸” Score > 90:
       Name  Age  Score
2  Charlie   35     95

Name in ['Alice', 'Charlie']:
       Name  Age  Score
0    Alice   25     85
2  Charlie   35     95

éç¼ºå¤±å€¼ç­›é€‰ Score:
     Name  Age  Score
0  Alice   25   85.0
1    Bob   30   90.0
3  David   40   60.0

### 6. æ’åºä¸æ’åï¼ˆsort_values, sort_index, rankï¼‰

Pandas æä¾›äº†å¯¹æ•°æ®è¿›è¡Œæ’åºä¸æ’åçš„å‡½æ•°ï¼š

---

#### ğŸ”¢ `sort_values(by, ascending)`  
æ ¹æ®æŸåˆ—çš„å€¼è¿›è¡Œæ’åºï¼ˆé»˜è®¤å‡åºï¼‰

- `by`ï¼šæŒ‡å®šæ’åºåˆ—å
- `ascending=False`ï¼šé™åºæ’åˆ—

ç¤ºä¾‹ï¼š

```python
df.sort_values(by="Score", ascending=False)
```

#### ğŸ“‘ `sort_index(axis)`
æŒ‰ **è¡Œæˆ–åˆ—ç´¢å¼•** è¿›è¡Œæ’åºï¼š

- `axis=0`ï¼ˆé»˜è®¤ï¼‰ï¼šæŒ‰**è¡Œç´¢å¼•**æ’åº
- `axis=1`ï¼šæŒ‰**åˆ—ç´¢å¼•**æ’åºï¼ˆå­—æ¯é¡ºåºï¼‰

ç¤ºä¾‹ï¼š

```python
df.sort_index()
df.sort_index(axis=1)
```

#### ğŸ¥‡ `rank(method, ascending)`

å¯¹æŸåˆ—è¿›è¡Œ**æ’å**ï¼ˆå¯å¤„ç†å¹¶åˆ—æƒ…å†µï¼‰ï¼š

- `method="average"`ï¼ˆé»˜è®¤ï¼‰ï¼šå¹¶åˆ—é¡¹å–å¹³å‡åæ¬¡  
  ä¾‹ï¼šä¸¤ä¸ªå¹¶åˆ—ç¬¬ 2 çš„é¡¹ï¼Œæ’åä¸º 2.5
- `method="min"`ï¼šå¹¶åˆ—é¡¹å–æœ€å°åæ¬¡ï¼ˆç«èµ›æ’åå¸¸ç”¨ï¼‰  
  ä¾‹ï¼šä¸¤ä¸ªå¹¶åˆ—ç¬¬ 2 çš„é¡¹ï¼Œæ’åéƒ½ä¸º 2
- `method="first"`ï¼šæŒ‰å‡ºç°é¡ºåºèµ‹äºˆåæ¬¡  
  ä¾‹ï¼šå…ˆå‡ºç°çš„æ’å‰é¢

```python
df["Rank"] = df["Score"].rank(ascending=False, method="min")
```
å¸¸ç”¨äºç”Ÿæˆâ€œå¾—åˆ†æ’åâ€ã€â€œå¹´é¾„æ’åâ€ç­‰æ–°åˆ—ï¼Œç»“åˆ sort_values() ä½¿ç”¨æ•ˆæœæ›´ä½³ã€‚

In [6]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Score": [90, 85, 95, 85],
    "Age": [25, 30, 35, 40]
}, index=["d", "b", "a", "c"])

print("åŸå§‹æ•°æ®ï¼š\n", df)

# æŒ‰ Score é™åºæ’åº
sorted_by_score = df.sort_values(by="Score", ascending=False)
print("\næŒ‰æˆç»©é™åºæ’åºï¼š\n", sorted_by_score)

# æŒ‰ç´¢å¼•æ’åºï¼ˆè¡Œæ ‡ç­¾ï¼‰
sorted_by_index = df.sort_index()
print("\næŒ‰è¡Œç´¢å¼•æ’åºï¼š\n", sorted_by_index)

# æˆç»©æ’åï¼Œæˆç»©é«˜æ’å‰
df["Rank"] = df["Score"].rank(ascending=False, method="min")
print("\nåŠ å…¥æ’ååˆ—ï¼ˆé«˜åˆ†æ’å‰ï¼‰:\n", df)

åŸå§‹æ•°æ®ï¼š
       Name  Score  Age
d    Alice     90   25
b      Bob     85   30
a  Charlie     95   35
c    David     85   40

æŒ‰æˆç»©é™åºæ’åºï¼š
       Name  Score  Age
a  Charlie     95   35
d    Alice     90   25
b      Bob     85   30
c    David     85   40

æŒ‰è¡Œç´¢å¼•æ’åºï¼š
       Name  Score  Age
a  Charlie     95   35
b      Bob     85   30
c    David     85   40
d    Alice     90   25

åŠ å…¥æ’ååˆ—ï¼ˆé«˜åˆ†æ’å‰ï¼‰:
       Name  Score  Age  Rank
d    Alice     90   25   2.0
b      Bob     85   30   3.0
a  Charlie     95   35   1.0
c    David     85   40   3.0

### 7. åˆ—æ“ä½œä¸æ–°å¢å­—æ®µï¼ˆå‘é‡è¿ç®—ã€assignã€applyï¼‰

---

#### âœ… å‘é‡è¿ç®—ï¼ˆæ¨èï¼‰

Pandas æ”¯æŒå¯¹æ•´åˆ—è¿›è¡Œå‘é‡åŒ–è¿ç®—ï¼Œé€Ÿåº¦å¿«ï¼Œè¯­æ³•ç®€å•ï¼š

```python
df["BMI"] = df["Weight"] / (df["Height"] / 100) ** 2
```

---

#### âœ… assign() æ–¹æ³•ï¼šé“¾å¼æ·»åŠ æ–°åˆ—ï¼ˆè¿”å›æ–° DataFrameï¼‰

```python
df = df.assign(ScoreRate=df["Score"] / 100)
```

é€‚åˆä¸ `.query()`ã€`.sort_values()` ç­‰é“¾å¼æ“ä½œç»„åˆä½¿ç”¨ã€‚

---

#### âœ… apply() æ–¹æ³•ï¼šæŒ‰è¡Œæˆ–åˆ—åº”ç”¨è‡ªå®šä¹‰å‡½æ•°

```python
df["Level"] = df["Score"].apply(lambda x: "High" if x > 90 else "Low")
```

- é»˜è®¤ `axis=0`ï¼šæŒ‰åˆ—ï¼ˆå¯¹æ¯ä¸ªâ€œå€¼åˆ—â€åº”ç”¨å‡½æ•°ï¼‰
- è‹¥ `axis=1`ï¼šæŒ‰è¡Œï¼ˆå¯¹æ¯ä¸€è¡Œä½œä¸ºæ•´ä½“ä¼ å…¥å‡½æ•°ï¼‰

---

#### âœ… è‡ªå®šä¹‰å‡½æ•° + applyï¼ˆæ›´å¤æ‚å¤„ç†ï¼‰

```python
def tag_level(row):
    if row["Score"] > 90:
        return "A"
    elif row["Score"] > 80:
        return "B"
    else:
        return "C"

df["Grade"] = df.apply(tag_level, axis=1)
```

> å‘é‡è¿ç®—é€Ÿåº¦æœ€å¿«ï¼›`apply` çµæ´»æ€§æœ€é«˜ï¼Œé€‚åˆå¤æ‚è§„åˆ™ã€‚

In [7]:
import pandas as pd

# æ„é€ ç¤ºä¾‹æ•°æ®
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Score": [95, 85, 72],
    "Weight": [60, 75, 68],     # kg
    "Height": [160, 180, 170]   # cm
})

# âœ… å‘é‡è¿ç®—ï¼šè®¡ç®— BMI = ä½“é‡ / (èº«é«˜ç±³)^2
df["BMI"] = df["Weight"] / (df["Height"] / 100) ** 2
print("å‘é‡è¿ç®—æ·»åŠ  BMI åˆ—ï¼š\n", df)

# âœ… assign æ·»åŠ æ–°åˆ—ï¼ˆé“¾å¼å†™æ³•ï¼‰
df = df.assign(ScoreRate = df["Score"] / 100)
print("\nä½¿ç”¨ assign æ·»åŠ  ScoreRate åˆ—ï¼š\n", df)

# âœ… apply + lambda åˆ›å»ºç­‰çº§æ ‡ç­¾
df["Level"] = df["Score"].apply(lambda x: "High" if x >= 90 else "Low")
print("\nä½¿ç”¨ apply + lambda åˆ›å»º Level åˆ—ï¼š\n", df)

# âœ… apply + è‡ªå®šä¹‰å‡½æ•°ï¼šæ ¹æ®åˆ†æ•°æ‰“ç­‰çº§
def tag_level(row):
    if row["Score"] > 90:
        return "A"
    elif row["Score"] > 80:
        return "B"
    else:
        return "C"

df["Grade"] = df.apply(tag_level, axis=1)
print("\nä½¿ç”¨ apply + è‡ªå®šä¹‰å‡½æ•° åˆ›å»º Grade åˆ—ï¼š\n", df)

å‘é‡è¿ç®—æ·»åŠ  BMI åˆ—ï¼š
       Name  Score  Weight  Height        BMI
0    Alice     95      60     160  23.437500
1      Bob     85      75     180  23.148148
2  Charlie     72      68     170  23.529412

ä½¿ç”¨ assign æ·»åŠ  ScoreRate åˆ—ï¼š
       Name  Score  Weight  Height        BMI  ScoreRate
0    Alice     95      60     160  23.437500       0.95
1      Bob     85      75     180  23.148148       0.85
2  Charlie     72      68     170  23.529412       0.72

ä½¿ç”¨ apply + lambda åˆ›å»º Level åˆ—ï¼š
       Name  Score  Weight  Height        BMI  ScoreRate Level
0    Alice     95      60     160  23.437500       0.95  High
1      Bob     85      75     180  23.148148       0.85   Low
2  Charlie     72      68     170  23.529412       0.72   Low

ä½¿ç”¨ apply + è‡ªå®šä¹‰å‡½æ•° åˆ›å»º Grade åˆ—ï¼š
       Name  Score  Weight  Height        BMI  ScoreRate Level Grade
0    Alice     95      60     160  23.437500       0.95  High     A
1      Bob     85      75     180  23.148148       0.85   Low     B
2  Charlie     72      68     170  23.529412       0.72   Low     C

### 8. åˆ†ç»„ä¸èšåˆåˆ†æï¼ˆgroupby, agg, pivot_tableï¼‰

Pandas æä¾›å¼ºå¤§çš„åˆ†ç»„ç»Ÿè®¡åŠŸèƒ½ï¼Œå¯æŒ‰æŸåˆ—å¯¹æ•°æ®è¿›è¡Œå½’ç±»å¤„ç†ï¼š

---

#### âœ… groupbyï¼šæŒ‰åˆ—åˆ†ç»„åèšåˆ

```python
df.groupby("åˆ—å").å‡½æ•°()
```

ç¤ºä¾‹ï¼š

```python
df.groupby("Department")["Salary"].mean()
```

---

#### âœ… aggï¼šä¸€æ¬¡å¯¹å¤šåˆ—æ‰§è¡Œå¤šä¸ªç»Ÿè®¡å‡½æ•°

```python
df.groupby("Department").agg({
    "Salary": "mean",
    "Age": ["max", "min"]
})
```

---

#### âœ… pivot_tableï¼šæ›´çµæ´»çš„é€è§†è¡¨ï¼ˆå¯èšåˆã€é€è§†ã€åˆ†å±‚ï¼‰

```python
pd.pivot_table(df, index="Department", values="Salary", aggfunc="mean")
```

ä¹Ÿæ”¯æŒå¤šé‡èšåˆå’Œå¤šä¸ªç»´åº¦ï¼š

```python
pd.pivot_table(df, index="Dept", columns="Gender", values="Salary", aggfunc="mean")
```

> `groupby` æ›´é€šç”¨ï¼Œ`pivot_table` æ›´é€‚åˆäºŒç»´ç»Ÿè®¡å±•ç¤º

In [8]:
import pandas as pd

# ç¤ºä¾‹æ•°æ®ï¼šå…¬å¸å‘˜å·¥ä¿¡æ¯
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Department": ["HR", "Tech", "Tech", "HR", "Tech", "Finance"],
    "Gender": ["F", "M", "M", "M", "F", "M"],
    "Salary": [5000, 8000, 7500, 5200, 8800, 6000],
    "Age": [25, 30, 35, 28, 32, 40]
})

# âœ… groupbyï¼šæŒ‰éƒ¨é—¨åˆ†ç»„ï¼Œç»Ÿè®¡å¹³å‡å·¥èµ„
print("å¹³å‡å·¥èµ„ï¼š\n", df.groupby("Department")["Salary"].mean())

# âœ… groupby + aggï¼šå¤šåˆ—å¤šå‡½æ•°èšåˆ
print("\næ¯ä¸ªéƒ¨é—¨çš„å¹³å‡å·¥èµ„ & æœ€å¤§å¹´é¾„ï¼š\n",
      df.groupby("Department").agg({
          "Salary": "mean",
          "Age": ["max", "min"]
      }))

# âœ… pivot_tableï¼šéƒ¨é—¨-æ€§åˆ«äº¤å‰è¡¨ï¼Œæ˜¾ç¤ºå¹³å‡å·¥èµ„
pivot = pd.pivot_table(df, index="Department", columns="Gender", values="Salary", aggfunc="mean")
print("\néƒ¨é—¨-æ€§åˆ« å¹³å‡å·¥èµ„é€è§†è¡¨ï¼š\n", pivot)

å¹³å‡å·¥èµ„ï¼š
 Department
Finance    6000.0
HR         5100.0
Tech       8100.0
Name: Salary, dtype: float64

æ¯ä¸ªéƒ¨é—¨çš„å¹³å‡å·¥èµ„ & æœ€å¤§å¹´é¾„ï¼š
             Salary Age
              mean max min
Department
Finance     6000.0  40  40
HR          5100.0  28  25
Tech        8100.0  35  30

éƒ¨é—¨-æ€§åˆ« å¹³å‡å·¥èµ„é€è§†è¡¨ï¼š
 Gender           F       M
Department
Finance        NaN  6000.0
HR          5000.0  5200.0
Tech        8800.0  7750.0

### 9. æ•°æ®åˆå¹¶ä¸è¿æ¥ï¼ˆmerge, concat, joinï¼‰

---

#### âœ… mergeï¼šæ ¹æ®æŸåˆ—è¿›è¡Œæ¨ªå‘è¿æ¥ï¼ˆç±»ä¼¼ SQL JOINï¼‰

```python
pd.merge(df1, df2, on="åˆ—å", how="inner")
```

- `how` å¯é€‰ï¼š
  - `"inner"`ï¼šåªä¿ç•™ä¸¤è¾¹éƒ½åŒ¹é…çš„ï¼ˆäº¤é›†ï¼‰
  - `"left"`ï¼šä»¥å·¦è¡¨ä¸ºä¸»ï¼ˆç±»ä¼¼å·¦è¿æ¥ï¼‰
  - `"right"`ï¼šå³è¡¨ä¸ºä¸»
  - `"outer"`ï¼šå…¨è¿æ¥ï¼ˆå¹¶é›†ï¼‰

---

#### âœ… concatï¼šæŒ‰è¡Œæˆ–æŒ‰åˆ—ç›´æ¥æ‹¼æ¥ï¼ˆæ— æ™ºèƒ½åŒ¹é…ï¼‰

```python
pd.concat([df1, df2], axis=0)  # çºµå‘æ‹¼æ¥
pd.concat([df1, df2], axis=1)  # æ¨ªå‘æ‹¼æ¥
```

---

#### âœ… joinï¼šä»¥ index ä¸ºåŸºå‡†è¿›è¡Œæ¨ªå‘åˆå¹¶ï¼ˆè¡¥å……åˆ—ï¼‰

```python
df1.join(df2, how="left")
```

> `merge` æœ€çµæ´»ï¼Œæ¨èç”¨äºå…³ç³»å‹è¿æ¥ï¼›`concat` æœ€ç®€å•ï¼›`join` é€‚åˆæŒ‰ index å¯¹é½ã€‚

In [9]:
import pandas as pd

# æ„é€ ä¸¤ä¸ªè¡¨æ ¼
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"]
})

df2 = pd.DataFrame({
    "ID": [2, 3, 4],
    "Score": [85, 90, 95]
})

# âœ… mergeï¼šæ ¹æ® ID åˆå¹¶ï¼ˆinnerï¼‰
merged_inner = pd.merge(df1, df2, on="ID", how="inner")
print("inner merge:\n", merged_inner)

# âœ… mergeï¼šå·¦è¿æ¥ï¼ˆleft joinï¼‰
merged_left = pd.merge(df1, df2, on="ID", how="left")
print("\nleft join:\n", merged_left)

# âœ… concatï¼šçºµå‘æ‹¼æ¥ä¸¤ä¸ªè¡¨
df3 = pd.DataFrame({
    "ID": [4, 5],
    "Name": ["David", "Eva"]
})
concat_rows = pd.concat([df1, df3], axis=0)
print("\nconcat æŒ‰è¡Œæ‹¼æ¥:\n", concat_rows)

# âœ… joinï¼šæŒ‰ index åˆå¹¶
df1_indexed = df1.set_index("ID")
df2_indexed = df2.set_index("ID")
joined = df1_indexed.join(df2_indexed, how="left")
print("\njoin æŒ‰ index å·¦è¿æ¥:\n", joined)

inner merge:
    ID     Name  Score
0   2      Bob     85
1   3  Charlie     90

left join:
    ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

concat æŒ‰è¡Œæ‹¼æ¥:
    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
0   4    David
1   5      Eva

join æŒ‰ index å·¦è¿æ¥:
        Name  Score
ID
1     Alice    NaN
2       Bob   85.0
3   Charlie   90.0

### 10. æ—¶é—´åºåˆ—å¤„ç†ï¼ˆdatetime, resample, rollingï¼‰

---

#### âœ… datetime ç±»å‹è½¬æ¢ï¼ˆto_datetimeï¼‰

```python
df["Date"] = pd.to_datetime(df["Date"])
```

- å°†å­—ç¬¦ä¸²æˆ–å¯¹è±¡åˆ—è½¬ä¸º Pandas çš„ datetime ç±»å‹ï¼Œæ”¯æŒåç»­æ—¶é—´è¿ç®—ä¸ç´¢å¼•ã€‚

---

#### âœ… è®¾ç½®æ—¶é—´ä¸ºç´¢å¼•ï¼ˆå¸¸ç”¨äºæ—¶é—´åºåˆ—åˆ†æï¼‰

```python
df = df.set_index("Date")
```

---

#### âœ… é‡é‡‡æ ·ï¼ˆresampleï¼‰ï¼šæŒ‰æ—¶é—´é¢‘ç‡èšåˆï¼ˆå¦‚æŒ‰å¤©/å‘¨/æœˆç»Ÿè®¡ï¼‰

```python
df.resample("D").mean()     # æŒ‰æ—¥èšåˆ
df.resample("W").sum()      # æŒ‰å‘¨æ±‚å’Œ
df.resample("M").max()      # æŒ‰æœˆå–æœ€å¤§å€¼
```

å¸¸ç”¨é¢‘ç‡ï¼š
- `"D"`ï¼šå¤©
- `"W"`ï¼šå‘¨
- `"M"`ï¼šæœˆ
- `"H"`ï¼šå°æ—¶

---

#### âœ… æ»šåŠ¨çª—å£è®¡ç®—ï¼ˆrollingï¼‰ï¼šæ»‘åŠ¨ç»Ÿè®¡å‡å€¼ã€æ€»å’Œç­‰

```python
df["7d_avg"] = df["value"].rolling(window=7).mean()
```

- ç”¨äºå¹³æ»‘æ³¢åŠ¨æ•°æ®ï¼Œæ¯”å¦‚æ»‘åŠ¨å¹³å‡ã€æ»šåŠ¨æœ€å¤§å€¼ç­‰
- `rolling()` åå¿…é¡»è·Ÿ `.mean()`, `.sum()` ç­‰å‡½æ•°æ‰ä¼šæ‰§è¡Œ

> `resample()` æ˜¯æ”¹å˜æ—¶é—´ç²’åº¦ï¼Œ`rolling()` æ˜¯æ»‘åŠ¨çª—å£è®¡ç®—

In [10]:
import pandas as pd
import numpy as np

# æ„é€ æ—¶é—´åºåˆ—æ•°æ®ï¼šæ¯å¤©é”€é‡
date_range = pd.date_range(start="2023-01-01", periods=10, freq="D")
df = pd.DataFrame({
    "Date": date_range,
    "Sales": [10, 15, 13, 20, 23, 18, 30, 28, 25, 22]
})

# âœ… è½¬æ¢ä¸º datetime å¹¶è®¾ç½®ä¸ºç´¢å¼•
df["Date"] = pd.to_datetime(df["Date"])
df = df.set_index("Date")

# âœ… é‡é‡‡æ ·ï¼šæŒ‰æ¯ 3 å¤©æ±‚å¹³å‡
resampled = df.resample("3D").mean()
print("æ¯3å¤©å¹³å‡é”€é‡ï¼š\n", resampled)

# âœ… æ»šåŠ¨çª—å£ï¼š7 å¤©ç§»åŠ¨å¹³å‡
df["7d_avg"] = df["Sales"].rolling(window=7).mean()
print("\næ·»åŠ  7 å¤©æ»‘åŠ¨å¹³å‡åˆ—ï¼š\n", df)

æ¯3å¤©å¹³å‡é”€é‡ï¼š
                 Sales
Date
2023-01-01  12.666667
2023-01-04  20.333333
2023-01-07  27.666667
2023-01-10  22.000000

æ·»åŠ  7 å¤©æ»‘åŠ¨å¹³å‡åˆ—ï¼š
             Sales     7d_avg
Date
2023-01-01     10        NaN
2023-01-02     15        NaN
2023-01-03     13        NaN
2023-01-04     20        NaN
2023-01-05     23        NaN
2023-01-06     18        NaN
2023-01-07     30  18.428571
2023-01-08     28  21.000000
2023-01-09     25  22.428571
2023-01-10     22  23.714286